header, footer {
  height: 75px;
  border: 1px solid black;
  clear: both;
  width: 100%;
}
nav {
}
li {
  display: inline-block;
}

.backgroundImage {
  background-image: url(css/im;
  height: 445px;
  border: 1px solid black;
}

.justImage {
  height: 250px;
  width: 100%;
  border: 2px solid;
}

* {
  box-sizing: border-box;
}
