* {
  box-sizing: border-box;
}

header {
  height: 100px;
  border: 1px solid black;
  clear: both;
  background-color: #1877f2;
}

section {
  height: 400px;
  border: 1px solid black;
}

.classOne, .classTwo {
  height: 600px;
  width: 50%;
  border: 1px solid black;
  float: left;
}

.classTwo {
  position: relative;
  top: -21px
}
 img {
   height: 90px;
   position: relative;
   margin-left: 222px;
   top: -14px;
 }

 .email {
   position: relative;
   bottom: 100px;
   float: right;
   margin-right: 305px;
 }

 .password {
   position: relative;
   bottom: 100px;
   float: right;
   left: 430px;
 }

 .forgotSpan {
   position: relative;
   top: 24px;
   left: -122px;
   text-decoration: none;
   color: white;
 }

 .logIn {
   height: 32px;
   position: relative;
   top: -104px;
   left: 1300px;
   border-radius: 10px;
 }

.classTwo p {
  position: relative;
  top: -20px;
  color: #aeb2b7;
}

.signUp {
  height: 50px;
  position: relative;
  float: left;
  border-radius: 100px;
  left: 50px;
  width: 243px;
}
 .upForm {
   display: inline-block; 
 }
