header {
  background-color: black;
  color: white;
  vertical-align: middle;
}

header a {
  color: white;
  text-decoration: none;
}
 li {
   list-style-type: none;
   border-left: 1px solid white;
   display: inline;
   padding-left: 25px;
   font-family: sans-serif;
   margin-bottom: 5px;
   font-size: 20px;
 }

h1 {
  display: inline;
  padding-left: 3px;
}
ul{
  display: inline;
  padding-left: 5px;
}

form {
  display: inline;
  float: right;
}
 nav {
   display: inline;
   float: right;
 }

 .bigSection, .secondHeader {
   background-color: #e7e8e1;
 }

.trumpFinger {
  border: 1px solid red;
  background-image: url(../donaldfinger.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #f4f4f9;
  width: 50%;
  display: inline-block;
}
 h4 {
   margin-top: 200px;
 }

.secondSection {
  display: inline-block;
  width: 50%;
}

.firstTile {
  background-image: url(../donaldfinger.jpg);
  display: inline-block;
  width: 50%;
  color: white;
}

.secondTile {
  background-image: url(../donaldfinger.jpg);
  display: inline-block;
  width: 50%;
  color: white;
}

.thirdTile {
  background-image: url(../donaldfinger.jpg);
  width: 50%;
  display: inline-block;
  color: white;
}

.fourthTile {
  background-image: url(../donaldfinger.jpg);
  color: white;
  width: 50%;
  display: inline-block;
}
 section h3 + h3 {
   float: right;
   display: inline-block;
 }

 section h3 {
   display: inline-block;
 }

* {
box-sizing: border-box;
}

header form {

}
