header, footer{
  text-align: center;
  height: 100px;
}

.containgSection {
  height: 600px;
  width: 100%
}

.sectionOne, .sectionTwo {
  height: 700px;
  width: 50%;
  position: relative;
  float: right;
  text-align: left;
}

header, footer, .sectionOne, .containgSection, .sectionTwo {
  box-sizing: border-box;
  border: 2px black solid;
  background-color: #7A7C7F;
}

.myName , .listIndustry{
  padding-left: 6px;
  line-height: 23px;
}

.listIndustry {
  padding-left: 20px;
}
