header {
  float: left;
  overflow: auto;
  width: 100%;
}

.Josh img, header img {
  height: 30px;
  border-radius: 100%;
}
.nav1 {
  float: left;
  width: 100%;
}
.list1 {
  float: left;
  width: 100%;
  display: inline-flex;
}


span, li, a {
  text-decoration: none;
  list-style-type: none;
}

 h1 {
   float: left;
 }

 header {
   background-color: 	#4267b2;
 }

 .firstSection {
   width: 15%;
   border: 1px solid red;
 }

 .secondSection {
   width: 40%;
   border: 1px solid blue;
 }

 .thirdSection {
   width: 20%;
   border: 1px solid orange;
 }

 .fourthSection {
   width: 15%;
   border: 1px solid green;
 }

 .firstSection, .secondSection, .thirdSection, .fourthSection {
   float: left;
   borde

 }
